---
import Welcome from "../../components/Welcome.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../assets/global.scss";
---

<BaseLayout title="Kontakt">
  <!-- <Welcome /> -->
  <header>
    <nav>
      <ul>
        <li>Hjem</li>
        <li>Kontakt</li>
      </ul>
    </nav>
    <h1>JPs utviklerhjørne – Kontakt</h1>
  </header>
  <main>
    <h2>Kontaktinformasjon</h2>
    <p>
      Under finner du kontaktinformasjon for meg. Jeg er alltid åpen for å
      diskutere nye prosjekter, samarbeid eller diskusjoner med potensielle
      arbeidsgivere.
    </p>
  </main>
</BaseLayout>
