---
import ContactInfo from "../../components/ContactInfo.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Kontakt">
  <section>
    <div class="content-column">
      <h2>Kontaktinformasjon</h2>
      <p>
        Under finner du kontaktinformasjon for meg. Jeg er alltid åpen for å
        diskutere nye prosjekter, for å diskutere samarbeid
        og/eller for diskusjoner med potensielle arbeidsgivere.
      </p>
      <ContactInfo />
    </div>
  </section>
</BaseLayout>
