---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Side ikke funnet">
  <article class="intro-article">
    <section>
      <div class="content-column">
        <h2>404</h2>
        <p>Siden du leter etter finnes ikke, eller har blitt flyttet.<span class="cursor">_</span></p>
        <a href="/">← Tilbake til forsiden</a>
      </div>
    </section>
  </article>
</BaseLayout>
