---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- <Welcome /> -->
  <header>
    <h1>>JPs utviklerhjørne – Hjem</h1>
  </header>
  <main>
	<h2>Introduksjon til meg</h2>
	<p>
		Velkommen til min hjemmeside,
		her finner du informasjon om meg og et utvalg av mine prosjekter.
	</p>

	<h2>Prosjekter</h2>
	<h3>Læringsassistent-KI – En prototyp for en læringsoptimalisert KI-chatbot</h3>

	<h3>Nettbasert spillplatform – En spillplatform for nettleserspill</h3>

	<h3>Tingenes web – Et nettstyrt hjemmesystem for plantestell</h3>
  </main>
</Layout>
