---
import Hero from "../components/Hero.astro";
import TechList from '../components/TechList.astro';
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from 'astro:content';

const projects = (await getCollection('projects'))
  .sort((a, b) => a.data.order - b.data.order);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout title="Hjem">
  <article class="intro-article">
    <section>
      <Hero />
      <div class="content-column">
        <h2>Introduksjon</h2>
        <p>
          Velkommen til min hjemmeside, her finner du informasjon om meg og et
          utvalg av mine prosjekter.
        </p>
      </div>
    </section>
  </article>

  <article class="projects-article">
    <div class="content-column--full">
      <h2>Prosjekter</h2>
    </div>
    {projects.map(project => (
      <section class="project-card">
        <h3>{project.data.title}</h3>
        <p>{project.data.summary}</p>
        <TechList tech={project.data.tech} />
        <a href={`/projects/${project.id}`} class="card-link">Les mer →</a>
      </section>
    ))}
  </article>
</BaseLayout>
